 form textarea{
   height: 80px;
   width: 100%; 
   
}

section li{
    color: purple;
    text-align: center;
    list-style-type: none;
    height: 50px;
    width: 80%;
    padding-top: 20px;
    margin-left: 40px;
    margin-top: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}
 
#createButton{
display: inline-block;
}